<main>
<div>
	<h2>Handmade, Fresh, Daily!</h2>
<div>
	{{#each Donut}}
		<div>
		<span>Donut: {{this.name}}</span>
		<span>Description: {{this.description}}</span>
		<span>IMG{{this.imd}}</span>
		<span>Price: {{this.price}}</span>
		<span>Amount: {{this.qty}}</span>
			<div class="donut-container">

				<<<< DONUT IMAGE HERE >>>>

				<h3>   <<<< LINK TO DONUT'S SHOW PAGE, DONUT NAME AS LINK NAME >>>>   </h3>

				<p>$ <<<< DONUT PRICE HERE >>>> each </p>

			</div>
		</div>
	{{/each}}
</div>
</div>
</main>
